<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">


            <a class="navbar-brand" href="/" style="color:#FF1493"><img style="padding-top: 0%;" src="http://icons.iconarchive.com/icons/shaunkleyn/phlat-blue-folders/64/Groups-icon.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"><i class="fa fa-home"></i> Home<span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/profile"><i class="fa fa-forumbee" aria-hidden="true"></i>
                        Profile</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <%  if(!currentUser) {%>
                <li class="active"><a href="/register"><i class="fa fa-user-plus"></i> SignUp</a></li>
                <li class="active"><a href="/login"><i class="fa fa-user"></i> LogIn</a></li>
                <%}%>
                <%  if(currentUser) {%>
                <li class="active"><a href="/logout"><i class="fa fa-user"></i>LogOut</a></li>
                <li class="active"><a href="/booking"><i class="fa fa-user"></i>Book</a></li>
                <%}%>
                <%  if(currentUser) {%>
                <li><strong style="color:white;">
                        <%= currentUser.username %></strong></li>
                <%}%>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>