<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
<<<<<<< HEAD
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>LT</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  
  <!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
=======
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Hello, world!</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
>>>>>>> 3d1ea1508f56dc1e9d3367a8a10f3727d8569350
</head>

<body>

  <% include ./partials/navbar %>

  <%- body -%>

  <% include ./partials/javascriptfile %>
<<<<<<< HEAD
  
</body>

</html>
=======
</body>

</html>
>>>>>>> 3d1ea1508f56dc1e9d3367a8a10f3727d8569350
